[submodule "third/sokol"]
	path = third/sokol
	url = https://github.com/floooh/sokol
[submodule "third/zep"]
	path = third/zep
	url = https://github.com/meshula/zep.git
[submodule "third/rapidjson"]
	path = third/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third\\vkhelpers"]
	path = third/vkhelpers
	url = git@github.com:meshula/vkhelpers.git
